.DS_Store
Thumbs.db
*.log
ddd-build/node_modules/
ba-build/node_modules/
eip-build/node_modules/
sap-build/node_modules/
risico-build/node_modules/
pv-build/node_modules/
databasemanagement-build/node_modules/
pm-build/node_modules/
ea-build/node_modules/
btabok-build/node_modules/
